body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	background-color: #F8B595;
	
}

h1{
	font-weight: lighter;
	font-size: 40px;
	letter-spacing: 2px;
	margin: 0;
	color: #6C5B7C;

}
input {
	margin-top: 10px;
}

.inputSection {
	margin: 50px 0px 80px 0px;
	width: 400px;
}

.inputs {
	width: inherit;
	display: flex;
	flex-direction: column;
}

input {
.addOption {
	margin-top: 10px;
	background-color: #6C5B7C;
}

.addOption {
	margin-top: 10px;
.pink {
	background-color: pink;
}

.resultSection {
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
}